.barber-rsvp__appointment-page_available-appointments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  border: 1px solid black;
}

.barber-rsvp__appointment-page_available-appointments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1050px;
}
